<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li><span>{$user.typeName}</span></li>
            <li><span>统计信息</span></li>
        </ul>
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>统计信息</h2>
                </div>
                <div class="box-content">
                    <div class="alert alert-info">
                        日期：{$statistic.dateName}<br>
                        创建者：{$statistic.creatorName}<br>
                        总开销：{$statistic.sumPrice}元
                    </div>
                    <table class="table table-striped table-bordered bootstrap-datatable datatable ">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>价格</th>
                            <th>规格</th>
                            <th>备注</th>
                            <th>购买数量</th>
                            <th>购买总价</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="statisticItemList" id="item">
                           <tr>
                               <td>{$item.name}</td>
                               <td>{$item.price}</td>
                               <td>{$item.scale}</td>
                               <td>{$item.remark}</td>
                               <td>{$item.sumQuantity}</td>
                               <td>{$item.sumPrice}</td>
                           </tr>
                        </volist>
                        </tbody>
                    </table>
                    <hr>
                    <a class="btn btn-info"  target="_blank" href="__MODULE__/Statistic/printInfo/{$statistic.beginDate}/{$statistic.endDate}/{$statistic.creator}">打印</a>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!-- content ends -->
</div>
<!--/fluid-row-->

</div><!--/.fluid-container-->
