<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <a class="navbar-brand" href="#"> <span>采购订单系统</span></a>

        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs">{$navbar.username}</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="__MODULE__/User/changePasswd/{$navbar.username}">修改密码</a></li>
                <li class="divider"></li>
                <li><a href="__MODULE__/User/logout">注销</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->

    </div>
</div>
<!-- topbar ends -->
