<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li><span>系统管理员</span></li>
            <li><span>账号管理</span></li>
            <li><span>添加账号</span></li>
        </ul>
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>添加账号</h2>
                </div>
                <div class="box-content">
                    <form class="form-horizontal" method="post" action="__MODULE__/Admin/addUserEvent">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control disabled" id="username" name="username" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">类别</label>

                            <div class="col-sm-10">
                                <select id="type" name="type" class="form-control" >
                                    <option value="staff">员工</option>
                                    <option value="boss">老板</option>
                                    <option value="checker">审批者</option>
                                    <option value="observer">观察者</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwd" class="col-sm-2 control-label">密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="passwd" name="passwd" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repasswd" class="col-sm-2 control-label">重复密码</label>

                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="repasswd" name="repasswd">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <!-- content ends -->
</div>
<!--/fluid-row-->

</div><!--/.fluid-container-->

