<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li><span>{$user.typeName}</span></li>
            <li><span>物品管理</span></li>
        </ul>
    </div>
    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <form method="post" action="__MODULE__/Item/delMultipleItemEvent">
                    <div class="box-header well" data-original-title="">
                        <h2> 物品管理</h2>

                        <if condition="$user.type neq 'observer'">
                            <div class="operation">
                                <a class="btn btn-info btn-sm" href="__MODULE__/Item/itemInfo/add">
                                    添加物品
                                </a>
                                <button type="submit" class="btn btn-danger btn-sm">
                                    删除选中物品
                                </button>
                            </div>
                        </if>
                    </div>
                    <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable ">
                            <thead>
                            <tr>
                                <if condition="$user.type neq 'observer'">
                                    <th><!--input type="checkbox" id="checkboxAllTrue"--></th>
                                </if>
                                <th>名称</th>
                                <th>规格</th>
                                <th>单价</th>
                                <th>备注</th>
                                <if condition="$user.type neq 'observer'">
                                    <th>操作</th>
                                </if>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="itemList" id="item">
                                <tr id="tr_{$item.iid}">
                                    <if condition="$user.type neq 'observer'">
                                        <td><input type="checkbox" value="{$item.iid}" name="deleteCheckbox[]"/></td>
                                    </if>
                                    <td>{$item.name}</td>
                                    <td>{$item.scale}</td>
                                    <td>{$item.price}</td>
                                    <td>{$item.remark}</td>
                                    <if condition="$user.type neq 'observer'">
                                        <td>
                                            <a class="btn btn-info btn-sm"
                                               href="__MODULE__/Item/itemInfo/{$item.iid}">修改</a>
                                            <a class="btn btn-danger btn-sm" onclick="delItem({$item.iid})">删除</a>
                                        </td>
                                    </if>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <!-- content ends -->
</div>
<!--/fluid-row-->

</div><!--/.fluid-container-->
<script>
    function delItem($iid) {
        var r = confirm('确认删除这个物品?');
        if (r == true) {
            $.post("__MODULE__/Item/delItemEvent", {
                        iid: $iid
                    },
                    function (data, status) {
                        if (status == 'success') {
                            if (data == 'ok') {
                                $('body').noty({"text": "删除成功", "layout": "topLeft", "type": "success"});
                                $('#tr_' + $iid).remove();
                            }
                            else {
                                $('body').noty({"text": "error:" + data, "layout": "topLeft", "type": "error"});
                            }
                        }
                        else {
                            $('body').noty({"text": "js post error0!'", "layout": "topLeft", "type": "error"});
                        }
                    }
            )
        }
    }

    $('#checkboxAllTure').click(function () {
        $("input[name='deleteCheckbox[]']").each(function () {
            $(this).parent().addClass("checked");
            var id = this.value;
            $("#inVisibleCheckbox_" + id).attr("checked", true);
        });
    })

</script>

